.item--container {
    background-color: white;
    a {
        text-decoration: none;
        color: #5C7256;    
        opacity: 1;   
    }
    a:hover{
        opacity: 0.5;

    }

    .item--breadcrumbs{
        .breadcrumb{
            margin-top: 5px;
        }
    }
    .item--row{
        .img--col{
            .images--container{
                flex-direction: column;
                align-items: center;
                position: relative;
                display: flex;
                .item--image{                  
                    height: 400px;
                    object-fit: contain;
                    width: 100%;
                }
                .carousel--container{
                    width: 300px;
                    margin: 0 auto;
                    overflow: hidden;
                    margin-top: 20px;
                    .small--image{
                        width: 100px;
                        height: 100px;
                        object-fit: contain;
                        cursor: pointer;
                    }

                }
            }
        }
        .text--col{
            display: flex;
            align-items: self-start;
            flex-direction: column;
            .item--descriptiion--section{
                display: flex;
                flex-direction: column;
                width: 100%;
                .item--name{
                    color:#5C7256;
                }
                .item--subText{
                    font-weight: bold;
                }
                .item--caution{
                    color: #383838;
                    margin: 5px 0;
                }
                .item--code{
                    font-style: oblique;
                    color: #383838;
                    font-size: small;
                    opacity: 50%;
                }
                .star--container{
                    .item--star{
                        color: #67765F;
                        margin-left: 4px;
                        margin-right: 4px;
                    }
                    .item--rating{
                        font-style: oblique;
                        color: #383838;
                    }
                }
                .item--price{
                    font-weight: bold;
                    font-size: 30px;
                }
                .item--availability{
                    color: #383838;
                    font-style: oblique;
                    opacity: 70%;
                    margin-bottom: 20px;
                }  
                .item--quantity{
                    display: flex;
                    align-items: center; 
                    .quantity--dropdown{
                        .custom-select{
                            appearance: none;
                        }    
                    }
    
                }    
                .item--buttons{
                    display: flex;
                    gap: 10px;
                    justify-content: flex-end;
                    margin-top: 30px;                                        
                }                     
            }                      
        }
    }      
    .item--tabs{
        margin-top: 50px;
        .nav-link{
            color: #5C7256;            
        }
        .nav-link.active{
            border-color: #5C7256;
        }
        .nav-link:hover{
            border-color: #5C7256;
        }
    }

    .tab-content{
        padding-bottom: 20px;
        .title{
            margin-left: 20px;
        }
        .product--details{
            margin-left: 20px;


        }

    }

}

/* .item--image{
    width: 150px;
} */
@media screen and (max-width:576px) {
    .item--container{
        .item--breadcrumbs{
            display: flex;
            justify-content: center;
        }   
        .item--row{
            .img--col{
                align-items: center;
                flex-direction: column;
                .img--carousel{
                    display: flex;
                    flex-direction: row;
                }
            }
            .text--col{
                .item--descriptiion--section{
                    display: flex;
                    flex-direction: column;
                    align-items: center; 
                    .item--name{
                        margin-top: 20px;
                    }
                    .item--caution{
                        text-align: center;
                    }  
                    .item--code{
                        margin-bottom: 10px;
                    }  
                    .item--rating{
                        font-size: medium;
                    } 
                    .item--list{
                        text-align: center;
                        padding-bottom: 5px;
                        padding-top: 10px;
                    }  
                    .item--buttons{
                        flex-direction: column-reverse;
                        gap: 20px;
                    }

  
                }
            }

        }     

        .tab-content{
            .title{
                text-align: center;
            }
            .product--details{
                text-align: center;  
                margin: 20px 0px;
            }
    
        }

    }   
}