/* Navbar*/
.navbar{
    background-color: #588861; 
    .navbar-conatiner{
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }
    .navbar--brand{
        text-decoration: none;
        .navbar--logo{
            width: 50px;        
        }
        .logoText {
            color: white;
            font-family: var(--lg-font);
            letter-spacing: 2px;
            font-size: var(--bs-navbar-brand-font-size);            
        }
        .logoText:hover{
            color: aqua;
        }   
    }
    /* Cart */
    .nav-btn{
        position: relative;

        .btn{
            background-color: transparent;
            border: none;
            color: white;
            font-size: 2rem;           
        }
        .btn:hover{
            color:aqua;
        }
        .circle{
            width: 25px;
            height: 25px;
            background-color: red;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            display: flex; 
            position: absolute;
            top: -5px;
            right: -5px;

            .count{
                color: white;
                font-size: 20px;
                font-weight: bold;
            }  
        }
    }
    /* End Cart */

    #navMenu{
        background-color: #588861;
        justify-content: center; 
        .navbar-nav{
            a{
                text-decoration: none;
                margin-bottom: 0;
            }
        }          
        .navbar--link{
            color: white;
            
        }  
        .navbar--link:hover{
            color: aqua;
        }
    }
    #navMenu:hover{
        color: aqua;
    }
    .navbar-toggler{
        border: transparent;
    }
    .navbar-toggler-icon{
        width: 2em;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-toggler .navbar-toggler-icon:hover{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='aqua' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

}

@media screen and (min-width:1370px) {
    #navMenu{
        .navbar-nav{
            gap: 9.5rem;
            a{
                margin-bottom: 0;
            }
        }
    } 
}

@media screen and (min-width:1200px) and (max-width: 1370px) {
    #navMenu{
        .navbar-nav{
            gap: 6.5rem;
            a{
                margin-bottom: 0;
            }
        }
    }
    
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .nav-btn{
        margin-right: 0px;
    }

    .navbar{
        .navbar--brand{
            margin-left: 0px;
        }
        #navMenu{
            .navbar-nav{
                gap: 4rem;
                a{
                    margin-bottom: 0px;
                }
            }
        }

    }
}


@media screen and (max-width:993px) {
    .navbar{
        .navbar--brand{
            margin-left: 0px;
        }
        #navMenu{
            .navbar-nav{
                a{
                    margin-bottom: 10px;
                }
            }
        }

        .nav-btn{
            margin-right: 8rem;
        }

    }

    
}

@media screen and (max-width: 576px) {
    .navbar{
        .nav-btn{
            margin-right: 5rem;
        }
    }
    
}




