.stepper--checkout{
    padding-bottom: 50px;
    .stepper{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        font-size: 40px;
        .step{
            display: flex;
            align-items: center;
            flex-direction: column;
            .circle {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid #53644A;
                background-color: white;
                margin-bottom: 5px;
    
                &.active {
                    background-color: #53644A;
                }
            }
        }
    }
    .title--row{
        display: flex;
        align-items: center;
        margin-top: 20px;
        .title--container{
            display: flex;
            justify-content: flex-end;

        }
        .cart--section{
            display: flex;
            justify-content: center;
            align-items: center;
            .cart--title{
                margin-right: 20px;
            }
        }
    }

    .checkout-cart-section{
        margin-left: 10px;
        width: 250px;
        border: 1px solid #53644A;
        margin-top: 5px;       
    }

    .stepper--cart{
        display: flex;
        flex-direction: column;
        img{
            width: 50px;
            object-fit: contain;
            margin-left: 20px;
        }

    }

    .shipping--price{
        div{
            span{
                margin-right: 50px;
                color: #565656;
            }
        }
    }
}

.stepLabel{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.dropdown--month{    
    margin-right: 10px;
    opacity: 1;
    .btn-primary{
    background-color: #53644A;
    border: 1px solid #53644A;
    }    
}

.dropdown--year{
    margin-right: 10px;
    opacity: 1;
    .btn-primary{
        background-color: #53644A;
        border: 1px solid #53644A;
    }   

}

.btn-primary:hover{
    opacity: 0.9;
    background-color: #53644A;

}


.creditCard--btn{
    border: 2px solid #53644A;
    border-radius: none;
    background-color: transparent;
    color: #53644A;
    font-size: 20px;
    padding: 5px 30px;
    opacity: 1;
}

.creditCard--btn:hover{
    opacity: 0.6;
    background-color: transparent;
    border: 2px solid #53644A;
    color: #53644A;
}



@media screen and (max-width: 900px) {
    .stepper--checkout{
        .title--row{
            display: flex;
            align-items: center;
            .title--container{
                display: flex;
                justify-content: center;
            }
            .cart--section{
                justify-content: center;
                flex-direction: column;
                .cart--title{
                    margin-right: 0;
                }
            }
    
        }

        .form-cart-section{
            display: flex;
            flex-direction: column-reverse;
        }

        .form--section{
            section{
                h2{
                    text-align: center;
                }
            }

        }
        .shipping--method{
            display: flex;
            justify-content: center;
            text-align: center; 
        }

        .shipping--price{
            display: flex;
            justify-content: center;
            text-align: center;
            div{
                display: flex;
                flex-direction: column;
                text-align: center;
                span{
                    margin-right: 0;
                    margin-top: 20px;
                }
            }
        }

        .checkout-cart-section{
           width: 300px;      
           margin-bottom: 20px;
           margin-left: 20px;
        }
    }
}