.grid--container {
    display: grid;
}

.nav--tabs {
    margin-top: 15px; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    text-align: center;
}

.nav--tabs a {
    text-decoration: none;
}

/* Style for tabs */
.tabs--link {
    background-color: #489683;
    color: white;
    padding: 5px 0;
}

.tabs--link:hover {
    color: aqua;
    opacity: 0.9;
}


@media screen and (min-width: 0px) and (max-width: 900px) {
    .nav--tabs {
        display: flex;
        flex-direction: column;
    }

    .addToCart--message {
        padding: 12px 0;
    }

}



